$mckz-appbar-color: #dee2e6 !default;
$mckz-appbar-active: $o-brand-primary !default;
$mckz-appbar-background: #111827 !default;

$mckz-sidebar-large-width: 146px !default;
$mckz-sidebar-small-width: 46px !default;
